* {
    padding:0;
    margin:0;
}

main {
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    background-color:hsl(217, 54%, 11%);
    
    
}

.img {
    width:200px;
}


.card {
    border: 1px solid black;
    border-radius: 10px;
    height:500px;
    width: 350px;
    background-color:hsl(216, 50%, 16%);
    color:white;
    
}