* {
    padding:0;
    margin:0;
}

main {
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    background-color:hsl(217, 54%, 11%);
    
    
}

.img {
    width:300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}


.card {
    border-radius: 10px;
    height:600px;
    width: 350px;
    background-color:hsl(216, 50%, 16%);
    color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-container{
    display:flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom:10px;
    
}

.text-container {
    line-height: 2.5;
    margin-left:25px;
    margin-right:25px;
}

.title {
    
}